* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #f33635;
}

.separator::after {
    border-right: 1px solid #333;
    height: 16px;
    position: absolute;
    display: block;
    content: "";
    top: 0;
    right: 0;
    cursor: auto;
}

ol,
ul {
    padding: 0;
    margin: 0;
}

.nav__respon {
    display: none;
}


/* header */

header {
    color: #333;
}

.header__left {
    padding-left: 10px;
}

.header__left-logo {
    height: 55px;
}

.header__top {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
}

.header__right {
    display: flex;
    align-items: center;
    font-size: 12px;
    text-transform: uppercase;
}

.header__right a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.header__right .navholder {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header__right .navholder .navholder-link:hover {
    color: rgba(0, 0, 0, 0.5);
}

.header__right .navholder .phone,
.header__right .navholder .register,
.header__right .navholder .login {
    position: relative;
    padding: 0 20px;
}

.cart-header {
    margin-left: 25px;
}

.cart-header .cart-link {
    margin: auto;
}

.cart-header .cart-icon {
    display: flex;
    width: 55px;
    height: 55px;
    /* border: 1px solid gray; */
    font-size: 32px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.cart-qty {
    position: absolute;
    right: -4px;
    top: 2px;
    font-weight: normal;
    font-size: 13px;
    background-color: #333;
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
}

.cart-header .cart-icon:hover {
    color: var(--primary-color);
}

.header__bot {
    margin-top: 15px;
}

.header__bot .nav-link {
    position: relative;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    margin-right: 20px;
}

.header__bot .nav-link:hover {
    text-decoration: underline;
}

.header__bot .nav-link.active {
    text-decoration: underline;
}

.header__bot .nav-item:hover .menu__converse {
    display: block;
}

.header__bot .menu__converse {
    list-style: none;
    display: none;
    position: absolute;
    z-index: 10;
    background-color: #fff;
    box-shadow: 1px 1px 1px 1px #000;
}


/* nav responsive */

.navbar-light .navbar-toggler {
    border: none;
}

.navbar-light .navbar-toggler:focus,
.offcanvas-header .btn-close:focus {
    box-shadow: none;
}


/* main */

.btn__seemore {
    text-align: center;
}

.btn__seemore button {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}


/* slide_banner */

.slide__banner {
    margin-top: 15px;
}

.slide__banner .banner_img {
    position: relative;
}

.slide__banner img {
    width: 100%;
    max-height: 750px;
    height: 100%;
}

.slide__banner .content_banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.slide__banner .content_banner h3 {
    font-size: 60px;
    color: #fff;
    text-shadow: 2px 1px var(--primary-color);
    letter-spacing: 10px;
}

.slide__banner .content_banner button,
.btn__seemore button {
    border: none;
    padding: 8px 20px;
    transition: 0.5s;
    border-radius: 5px;
    color: #fff;
    background-color: var(--primary-color);
}

.slick-prev,
.slick-next {
    position: absolute;
    top: 50%;
    border: none;
    transform: translateY(-50%);
    z-index: 2;
    font-size: 60px;
    background-color: inherit;
    padding: 20px;
    color: #333;
}

.slick-prev:hover,
.slick-next:hover {
    color: var(--primary-color);
}

.slick-prev {
    left: 0;
    margin-left: 20px;
}

.slick-next {
    margin-right: 20px;
    right: 0;
}

.slick-dots {
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    gap: 0 20px;
    list-style: none;
}

.slick-dots button {
    font-size: 0px;
    width: 25px;
    height: 5px;
    background-color: #333;
    border: none;
    outline: none;
}

.slick-dots .slick-active button {
    background-color: var(--primary-color);
}


/* page content */

.page__content {
    margin-top: 100px;
}

.banner__content {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.banner__content img {
    width: 100%;
}


/* title-line */

.title-line {
    display: block;
    text-align: center;
    margin-bottom: 0;
    position: relative;
}

.title-line:before {
    display: table;
    content: "";
    border-top: 1px dotted #333333;
    width: 100%;
    position: absolute;
    top: 17px;
}

.title-line h3 {
    display: inline-block;
    background: #fff;
    padding: 0px 15px;
    white-space: nowrap;
    position: relative;
    z-index: 1;
}


/* card product */

.card {
    height: 280px;
    background-color: #fafafa;
    border: none;
    border-radius: 10px;
    padding: 20px;
    color: #333;
    position: relative;
}

.card:hover {
    box-shadow: 0px 0px 1px 0px #959595;
}

.card__like,
.card__cart {
    font-size: 20px;
    position: absolute;
    top: 15px;
    cursor: pointer;
    z-index: 12;
}

.card__cart {
    left: unset;
    right: 20px;
}

.card__img {
    width: 90%;
    transition: 0.5s;
    padding-left: 20px;
    padding-bottom: 10px;
}

.card__img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.card__title,
.card__price {
    text-align: center;
    transition: 0.5s;
    font-weight: bold;
}

.card__title {
    color: var(--primary-color);
    margin-bottom: 10px;
}

.card__title a {
    text-decoration: none;
    font-size: 16px;
    color: #333;
}

.card__price {
    /* margin-bottom: 15px; */
    font-size: 24px;
}

.card__price .old_price {
    font-size: 16px;
    color: rgb(153, 153, 153);
    font-weight: normal;
    text-decoration: line-through;
    padding-left: 20px;
}

.card__color span {
    padding: 10px;
    margin: 0 8px;
    border-radius: 50%;
    cursor: pointer;
}

.card__color-green {
    background-color: green;
}

.card__color-red {
    background-color: var(--primary-color);
}

.card__color-black {
    background-color: black;
}

.card__btn button {
    background-color: var(--primary-color);
    border: none;
    padding: 10px 20px;
    width: 100%;
    color: #fff;
    outline: none;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}

.slide__banner .content_banner button:hover,
.card__btn button:hover,
.btn__seemore button:hover {
    transform: scale(0.9);
}

.card:hover .card__img {
    transform: translateY(-90px) rotate(-20deg);
}

.card:hover .card__title {
    transform: translate(0, -50px);
}

.card:hover .card__price {
    transform: translate(0, -50px);
}

.card__btn {
    transform: translateY(40px);
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
    /* transition-delay: 0.1s; */
}

.card:hover .card__btn {
    transform: translateY(-30px);
    opacity: 1;
    visibility: visible;
}

.color_red {
    color: var(--primary-color);
}


/* footer */

.footer-list-service {
    display: flex;
    flex-direction: column;
}

.follow-icon span,
.atm-icon {
    font-size: 1.8rem;
}

.follow-icon a,
.atm-icon span {
    margin-right: 0.5rem;
}