/* mobile and tablet */

@media (max-width:991px) {
    .cart-header .cart-icon {
        width: 35px;
        height: 35px;
        font-size: 27px;
        border: none;
        color: #000;
    }
    .header__left-logo {
        height: 40px;
    }
    .slide__banner {
        margin-top: 104px;
    }
    .slide__banner .content_banner h3 {
        font-size: 26px;
    }
    .slick-prev,
    .slick-next {
        padding: 0;
    }
    .slide__banner .content_banner button {
        padding: 7px 13px;
        font-size: 16px;
        margin-top: 10px;
    }
    .page__content {
        margin-top: 50px;
    }
    .card {
        padding: 0 20px 20px 20px;
        z-index: 2;
        height: 300px;
    }
    .banner__content {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .offcanvas.show,
    .offcanvas-start {
        width: 300px;
        max-width: 100%;
    }
}


/* Mobile */

@media (max-width: 767px) {
    .header {
        display: none;
    }
    .nav__respon {
        display: block;
    }
}

@media (min-width: 767px) and (max-width:991px) {
    .header {
        display: none;
    }
    .nav__respon {
        display: block;
    }
    .slide__banner .content_banner h3 {
        font-size: 40px;
    }
    .card {
        padding: 20px;
    }
}